.app {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: pink;
}

.sidebar {
  background-color: blue;
  height: 100%;
  flex: 1;
}

.dashboard {
  background-color: cornflowerblue;
  flex: 2;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
}

.profile h2 {
  font-size: 2rem;
  margin: 0;
}

.profile p {
  margin: 0;
}

.linkpane {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.linkpane button {
  height: 2rem;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 2px;
}
