.app {
  height: 602px;
  width: 100%;
  display: flex;
  z-index: inherit;
}

.sidebar {
  height: 100%;
  flex: 1;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  border-color: white;
  border-width: 2px;
  opacity: 0.85;
  backdrop-filter: blur(5px);
}

.dashboard {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.5)
  );
  flex: 3;
  margin-left: 4rem;
  border-radius: 1rem;
  opacity: 0.85;
  backdrop-filter: blur(5px);
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  margin-top: 1rem;
}

.profile h2 {
  color: rgb(229, 233, 125);
  font-size: 2.3rem;
  margin-top: 2rem;
  margin-bottom: 0;
  font-weight: 500;
}

.profile h3 {
  color: rgb(227, 228, 201);
  font-size: 1.5em;
  margin: 0;
  font-weight: 500;
}

.profile img {
  border-radius: 50%;
}

.linkpane {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.linkpane button {
  height: 2.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #022b94;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.linkpane button:focus {
  background-color: white;
  outline: none;
}

.component {
  margin: 1rem;
  position: relative;
  width: 97%;
  height: 100%;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#home h1 {
  color: rgb(229, 233, 125);
  font-size: 3rem;
  margin-top: -1rem;
  margin-bottom: 0;
  font-weight: 500;
}

#home h2 {
  color: rgb(227, 228, 201);
  font-size: 2.3em;
  margin: 0;
  font-weight: 500;
}

#home h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.about h1 {
  color: #092363;
  margin-bottom: 0.25rem;
}

.about h2 {
  color: rgb(229, 233, 125);
  font-size: 2.1rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.about h3 {
  color: rgb(227, 228, 201);
  font-size: 1.3em;
  margin-top: 0.25rem;
  font-weight: 500;
}

.about p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.lower-block {
  /* background-color: black; */
  display: flex;
  justify-content: last baseline;
}

.timeline {
  /* background-color: gray; */
  flex: 1;
  margin-top: 0.5rem;
}

.timeline h2 {
  font-size: 2rem;
}

ol {
  list-style-type: none;
  margin-top: 0.25rem;
}

li {
  position: relative;
  margin: 0;
  padding-bottom: 1em;
  padding-left: 20px;
}

.time-el h3 {
  margin-bottom: 0;
}

.timeline p {
  margin-top: 0;
}

li:before {
  content: "";
  background-color: #c00;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 6px;
  width: 3px;
}

li:after {
  content: "";
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='%23c00' cx='16' cy='16' r='10'%3E%3C/circle%3E%3C/svg%3E"); */
  position: absolute;
  left: 0;
  height: 15px;
  width: 15px;
}

.skills {
  margin-top: 0.5rem;
  background-color: pink;
  width: 100%;
  flex: 1;
}

.skill-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skill {
  width: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
